
$Soft-blue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);
$Cyan-fade: rgba(0,255,247,0.5);


// main bg
$Very-dark-blue-bg : hsl(217, 54%, 11%);
// card bg
$Very-dark-blue-card : hsl(216, 50%, 16%);

// line
$Very-dark-blue-line : hsl(215, 32%, 27%);

$White: hsl(0, 0%, 100%)